/* from https://www.smashingmagazine.com/2021/12/create-custom-range-input-consistent-browsers/ */
input[type="range"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 70%;
    padding: 0;
    opacity: 0.7;
    transition: opacity .2s;
    --track-height: 0.4em;
    --thumb-radius: calc(1.5*var(--track-height));
    --thumb-color: rgb(157, 105, 163);
    --track-color: rgba(254, 254, 254, 0.5);
  }
  
  input[type="range"]:hover {
    opacity: 1;
  }
  
  
  input[type="range"]::-webkit-slider-thumb {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    width: var(--thumb-radius);
    height: var(--thumb-radius);
    /* margin-top (track height in pixels / 2) - (thumb height in pixels /2)  */
    margin-top: calc(var(--track-height) / 2 - var(--thumb-radius) / 2);
    border-radius: 50%;
    background: var(--thumb-color);
    /* outline: 2px solid red; */
  }
  
  input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: var(--thumb-radius);
    height: var(--thumb-radius);
    margin-top: calc(var(--track-height) / 2 - var(--thumb-radius) / 2);
    border-radius: 50%;
    border: none;
    background: var(--thumb-color);
    cursor: pointer;
  }
  

  input[type="range"]::-webkit-slider-runnable-track {
    background: var(--track-color);
    /* outline: 1px solid white; */
    border-radius: calc(var(--track-height) / 2);
    height: var(--track-height);
    margin-top: 0;
  }
  

  
input[type="range"]::-moz-range-track {
    background: var(--track-color)
    /* outline: 1px solid white; */
    border-radius: calc(var(--track-height) / 2);
    height: var(--track-height);
    margin-top: 0;
  }